body {
  background-color: darkslategray;
  color: azure;
}

strong {
  color: rgb(95, 213, 45);
}

.form-text {
  color: azure;
}

em {
  color: darkslategray;
  /* background-image: url('images/sunroof.png'); */
  /* background: lavender;  */
}
