body {
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

#class-description {
  width: 300px;
}

strong {
  color: rgb(95, 213, 45);
}

.form-text {
  color: azure;
}

em, .repo-description, .repo-name {
  color: darkslategray;
}

a, em {
  margin-left: 10px;
  margin-right: 10px;
}

#middleContent {
  display: flex;
  margin: 20px;
}

#toTheLeft {
  width: 25%;
}

#toTheRight {
  margin-left: 100px;
}

#footer {
  align-content: bottom;
  margin-top: auto;
}

.side-button {
  color: azure;
  border-color: azure;
}
