

body {
  background-color: darkslategray;
  color: azure;
}

strong {
  color: rgb(95, 213, 45);
}

.form-text {
  color: azure;
}

em, .repo-description, .repo-name {
  color: darkslategray;
  background-image: url('images/sunroof.png');
  /* background: lavender;  */
}

a, em {
  margin-left: 10px;
  margin-right: 10px;
};
